@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:regular,500,600,700");

@tailwind base;
@tailwind components;
@tailwind utilities;

.develop,
.preview,
.ship {
  position: relative;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.animated-develop,
.develop:before,
.animated-preview,
.preview:before {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.develop:before {
  content: "Dream.";
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75));
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animated-develop {
  filter: contrast(1.2);
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  position: relative;
  animation: animationFade-develop 5s ease infinite normal none running;
  animation-delay: 0s;
  z-index: 1;
}

.animated-develop,
.develop:before {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.animated-develop:after,
.develop-shadow {
  padding-left: 0.05em;
  padding-right: 0.05em;
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  position: relative;
  animation: animationFade-develop 5s ease infinite normal none running;
  animation-delay: 0s;
}

.develop-shadow,
.ship-shadow,
.preview-shadow {
  position: absolute;
  bottom: 50px;
  filter: blur(50px);
  height: 20px;
  width: 100%;
  padding-left: 0.05em;
  padding-right: 0.05em;
  position: relative;
  z-index: 0;
}

.preview:before {
  content: "Develop.";
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75));
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animated-preview,
.preview-shadow {
  background-image: linear-gradient(90deg, #7928ca, #ff0080);
  animation: animationFade-preview 5s ease infinite normal none running;
  animation-delay: 0s;
}

.preview-shadow,
.ship {
  padding-left: 0.05em;
  padding-right: 0.05em;
  position: relative;
}

.animated-ship,
.ship:before {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.ship:before {
  content: "Deliver.";
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.75));
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.animated-ship,
.ship-shadow {
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
  animation: animationFade-ship 5s ease infinite normal none running;
  animation-delay: 0s;
}

.animated-ship,
.animated-preview {
  filter: contrast(1.2);
  position: relative;
  z-index: 1;
}

.animated-ship,
.ship:before,
.animated-preview,
.preview:before {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.animated-ship,
.ship-shadow {
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
  animation: animationFade-ship 5s ease infinite normal none running;
  animation-delay: 0s;
}

@keyframes animationFade-develop {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes animationFade-ship {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}

@keyframes animationFade-preview {
  0%,
  100% {
    opacity: 0;
  }

  33.333%,
  50% {
    opacity: 1;
  }
  16.667%,
  66.667% {
    opacity: 0;
  }
}
.image_one {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.image_one:hover {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.2s;
}

.develop-animated-border-btn,
.telegram-border {
  position: absolute;
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  filter: contrast(1.5);
  z-index: 10;
}
.preview-animated-border-btn {
  position: absolute;
  background-image: linear-gradient(90deg, #7928ca, #ff0080);
  animation: animationFade-preview 8s ease infinite normal none running;
  filter: contrast(1.5);
  animation-delay: 0s;
  z-index: 1;
}
.ship-animated-border-btn {
  position: absolute;
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
  animation: animationFade-ship 8s ease infinite normal none running;
  filter: contrast(1.5);
  animation-delay: 0s;
  z-index: 1;
}
.animated-shadow-border-develop,
.telegram-shadow-border {
  position: absolute;
  height: 24px;
  width: 120%;
  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  filter: blur(50px);
  z-index: 1;
}
.animated-shadow-border-preview {
  position: absolute;
  height: 24px;
  width: 120%;
  background-image: linear-gradient(90deg, #7928ca, #ff0080);
  filter: blur(50px);
  animation: animationFade-preview 8s ease infinite normal none running;
  z-index: 1;
}
.shadow-border-ship {
  position: absolute;
  height: 24px;
  width: 120%;
  background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
  filter: blur(50px);
  z-index: 1;
}
.develop-animated-border-btn {
  animation: animationFade-develop 8s ease infinite normal none running;
  animation-delay: 0s;
}

.animated-shadow-border-ship {
  animation: animationFade-ship 8s ease infinite normal none running;
}
.animated-shadow-border-develop {
  animation: animationFade-develop 8s ease infinite normal none running;
}
.animated-shadow-border-preview {
  animation: animationFade-preview 8s ease infinite normal none running;
}
.first-drop-animation {
  left: 7px;
  bottom: 0;
  animation: firstdripping 6s linear infinite;
}
.second-drop-animation {
  right: 6px;
  bottom: 0;
  animation: seconddripping 6s linear infinite;
}
.third-drop-animation {
  right: 41px;
  bottom: 0;
  animation: thirddripping 6s linear infinite;
}

@keyframes thirddripping {
  40% {
    opacity: 1;
    bottom: -2px;
  }

  43% {
    opacity: 1;
    bottom: -4px;
  }
  46% {
    opacity: 1;
    bottom: -8px;
  }
  60% {
    opacity: 1;
    bottom: -20px;
  }
  70% {
    opacity: 0;
    bottom: -50px;
  }
  75% {
    bottom: -100px;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
